In [16]:
import pandas as pd
import glob



sensor1_df= pd.read_csv('sensor1/20-03-2019_01-04-2019.csv',usecols=[1,2,3],parse_dates={'date':[0,1]},infer_datetime_format=True)

print (sensor1_df)

                 date  Value
0     3/20/19 9:17:16  33700
1     3/20/19 9:17:46  35200
2     3/20/19 9:18:16  35300
3     3/20/19 9:18:46  35400
4     3/20/19 9:19:16  35600
5     3/20/19 9:19:46  35800
6     3/20/19 9:20:16  35900
7     3/20/19 9:20:46  35900
8     3/20/19 9:21:16  36000
9     3/20/19 9:21:46  35800
10    3/20/19 9:22:16  35400
11    3/20/19 9:22:46  35900
12    3/20/19 9:23:16  36100
13    3/20/19 9:23:46  36100
14    3/20/19 9:24:16  36100
15    3/20/19 9:24:46  36100
16    3/20/19 9:25:16    627
17    3/20/19 9:25:46    675
18    3/20/19 9:26:16  36000
19    3/20/19 9:26:46  35900
20    3/20/19 9:27:16  36100
21    3/20/19 9:27:46  36200
22    3/20/19 9:28:16  36300
23    3/20/19 9:28:46  36300
24    3/20/19 9:29:16  36500
25    3/20/19 9:29:46  36600
26    3/20/19 9:30:16  36800
27    3/20/19 9:30:46  36800
28    3/20/19 9:31:16  36800
29    3/20/19 9:31:46  37000
...               ...    ...
1968  4/1/19 11:56:48  24600
1969  4/1/19 11:57:18  24700
1970  4/1/19 11:57:48  25000
1971  4/1/19 11:58:18  25000
1972  4/1/19 11:58:48  25000
1973  4/1/19 11:59:18  23600
1974  4/1/19 11:59:48  20300
1975  4/1/19 12:00:18  16150
1976  4/1/19 12:00:48  12450
1977  4/1/19 12:01:18   9190
1978  4/1/19 12:01:48   7340
1979  4/1/19 12:02:18   6850
1980  4/1/19 12:02:48   6790
1981  4/1/19 12:03:18   6730
1982  4/1/19 12:03:48   6720
1983  4/1/19 12:04:18   6730
1984  4/1/19 12:04:48   6690
1985  4/1/19 12:05:18   6680
1986  4/1/19 12:05:48   6670
1987  4/1/19 12:06:18   6690
1988  4/1/19 12:06:48   6720
1989  4/1/19 12:07:18   6680
1990  4/1/19 12:07:48   6680
1991  4/1/19 12:08:18   6650
1992  4/1/19 12:08:48   6610
1993  4/1/19 12:09:18   6600
1994  4/1/19 12:09:48   6600
1995  4/1/19 12:10:18   6610
1996  4/1/19 12:10:48   6630
1997  4/1/19 12:11:18   6600

[1998 rows x 2 columns]